__MACOSX/._CHANGELOG.md
__MACOSX/._flutter_wifi_connect.iml
__MACOSX/._LICENSE
__MACOSX/._pubspec.lock
__MACOSX/._pubspec.yaml
__MACOSX/._README.md
__MACOSX/android/._.gitignore
__MACOSX/example/android/._build.gradle
__MACOSX/example/android/app/src/main/res/drawable/._launch_background.xml
__MACOSX/example/android/app/src/main/res/mipmap-hdpi/._ic_launcher.png
__MACOSX/example/android/app/src/main/res/mipmap-mdpi/._ic_launcher.png
__MACOSX/example/android/app/src/main/res/mipmap-xhdpi/._ic_launcher.png
__MACOSX/example/android/app/src/main/res/mipmap-xxhdpi/._ic_launcher.png
__MACOSX/example/android/app/src/main/res/mipmap-xxxhdpi/._ic_launcher.png
__MACOSX/example/android/gradle/wrapper/._gradle-wrapper.properties
__MACOSX/example/ios/._.gitignore
__MACOSX/example/ios/Flutter/._AppFrameworkInfo.plist
__MACOSX/example/ios/Flutter/._Debug.xcconfig
__MACOSX/example/ios/Flutter/._Release.xcconfig
__MACOSX/example/ios/Runner/._AppDelegate.swift
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Contents.json
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-20x20@1x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-20x20@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-20x20@3x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-29x29@1x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-29x29@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-29x29@3x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-40x40@1x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-40x40@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-40x40@3x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-60x60@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-60x60@3x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-76x76@1x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-76x76@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-83.5x83.5@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/._Icon-App-1024x1024@1x.png
__MACOSX/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/._Contents.json
__MACOSX/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/._LaunchImage.png
__MACOSX/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/._LaunchImage@2x.png
__MACOSX/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/._LaunchImage@3x.png
__MACOSX/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/._README.md
__MACOSX/example/ios/Runner/Base.lproj/._LaunchScreen.storyboard
__MACOSX/example/ios/Runner/Base.lproj/._Main.storyboard
__MACOSX/example/ios/Runner.xcodeproj/project.xcworkspace/._contents.xcworkspacedata
__MACOSX/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/._Runner.xcscheme
__MACOSX/example/ios/Runner.xcworkspace/._contents.xcworkspacedata
__MACOSX/ios/._.gitignore
__MACOSX/ios/Assets/._.gitkeep
